{% extends 'base.html.twig' %}

{% block title %}{% if globals.name is defined %} {{globals.name}} {% endif %}{% endblock %}
{% block body %}

        <div class="container-fluid text-center position-relative mainscreen animated fadeInUp" >
        <div class="container position-absolute top-50 start-50 translate-middle">
             {% if globals.filename %}
                        
                        <img src="{{ vich_uploader_asset(globals, 'imageFile' ) | imagine_filter('thumb') }}" alt="card-img-top" style="height: auto;" id="avatar">
                {% else %}
                        <img src="{{ 'images/avatar/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style=" height: auto;" id="avatar">

                {% endif %}
            <h1>{{globals.name}}</h1>
            <p> {{globals.description}}</p>
         <ul class="list-group list-group-horizontal justify-content-md-center">
            {% for social in socials %}
                        {% if social.name == "E-mail" %} 
                         <li class="social-item"><a href="mailto:{{social.link}}">
                               <img src="images/icons/{{social.name}}.png">
                        </a>
                        </li>
                        {% else %}
                         <li class="social-item"><a href="{{social.link}}">
                               <img src="images/icons/{{social.name}}.png">
                        </a>
                        </li>
                        {% endif %}
                        
                       
            {% endfor %}
              </ul>
        </div>
        </div>
{% endblock %}