

        <div class="container">
        <ul class="nav nav-tabs justify-content-center mt-4">
    <li class="nav-item">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin.globals.index' %} active {% else %} text-dark{% endif %}" aria-current="page" href="{{ path("admin.globals.index") }}">{{ 'Appearance'| trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin.socials.index' %} active  {% else %} text-dark {% endif %}" aria-current="page" href="{{ path("admin.socials.index") }}">{{ 'Social networks'| trans }}</a>
    </li>
     <li class="nav-item">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin.user.index' %} active  {% else %} text-dark {% endif %}" aria-current="page" href="{{ path("admin.user.index") }}">{{ 'Password reset'| trans }}</a>
    </li>
  
</ul>