        {% extends 'base.html.twig' %}

        {% block title %} {{ 'Admin panel' | trans }}{% endblock %}
        {% block body %}
        {% include 'admin/admin_panel.html.twig' %}
             
           <div class="container p-5 bg-bo">

                    {% for message in app.flashes('success') %}
                <div class="alert alert-success"> {{ message }}</div>

                  {% endfor %}
        {{ form_start(form)}}
        <div class="row">
                
                <div class="col-md-6">{{ form_row(form.name)}}
                {{ form_row(form.description)}}
                {{ form_row(form.color)}}</div>

                 <div class="col-md-4 text-center">
               {% if globals.filename %}
                        
                        <img src="{{ vich_uploader_asset(globals, 'imageFile' ) | imagine_filter('thumb') }}" alt="card-img-top" style="height: auto;" id="avatar">
                {% else %}
                        <img src="{{ 'images/avatar/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="height: auto;" id="avatar">

                {% endif %}

                
                {{ form_row(form.imageFile)}}

                   
                </div>
                

            </div>
         <button class="btn btn-primary">{{ 'Save'| trans }}</button>

        {{ form_end(form)}}
        </div>
        </div>

        {% endblock %}
