        {% extends 'base.html.twig' %}

        {% block title %} {{ 'Social networks' | trans }}{% endblock %}
        {% block body %}
        {% include 'admin/admin_panel.html.twig' %}
           <div class="container p-5 bg-bo">
        {{ form_start(form)}}
        <div class="row">
         
                {% for child in form.children|slice(0, 10) %} {# WARNING  DO NOT LOOP ON THE LAST ELEMENT OF THIS ARRAY #}
                   <div class="col-md-3 mb-5">
                     <h4 class="mb-4">{{child.vars.value.name}}</h4>
                     {{form_widget(child)}}

                  </div>
                  <div class="col-md-3">
                  </div>
                   
                {% endfor %}
                     
                 
                </div>
                
              <button class="btn btn-primary">{{ 'Save'| trans }}</button>
            </div>
       

        {{ form_end(form)}}
        </div>
        </div>

        {% endblock %}